*{
    margin: 0;
    padding: 0;
    
    }
    
   /* .card{
    float: left;
    width: 20.1em;
    border: solid 2px;
    text-align: center;
    margin: 1em;
    backdrop-filter: blur(3px);
    background-color: rgba(122, 122, 122, 0.372);
    border-radius: 40px;
    }
    */

     
    .card:hover{
        border-style:inherit ;
    transform: scale(0.9,0.9);
   
}
   
    .card {
    
        width: 20em;
        border-radius: 40px;
        cursor: pointer;
        transition: 0.4s;
    }
    
    .card p{
        font-size: 1.5em;
    }
    
    .main-form{
        width: 100%;
    }