*{
    margin: 0;
    padding: 0;
    
    }
    
    .card1{
    float: left;
    width: 20.1em;
    border: solid 2px;
    text-align: center;
    margin: 1em;
    border-radius: 40px;
    
    background-color: rgba(20, 133, 141, 0.521);
    }
    .card1:hover{
      
        border-style:dashed ;
        transform: scale(0.9,0.9);
    box-shadow:5px 5px 30px 15px rgba(0,0, 0, 0.25),
    -5px -5px 30px 15px rgba(0,0, 0, 0.22);
    }
    .card1 img{
    
       width: 20em;
       border-radius: 40px;
       cursor: pointer;
       transition: 0.4s;
    }
    
    .card1 p{
        font-size: 1.5em;
        color: #ffffff
    }
    
    .main-form{
        width: 100%;
        
    }